.logged-in-app-container {
  display: flex;
  flex-direction: row;
}

.app-header {
  display: flex;
}

.strategies-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.library {
  display: flex;
  flex-direction: column;
}

#strategy-container {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 1em;
  background-color: white;
  padding: 1em;
}

#new-strategy-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.modal-form-wrapper {
  padding: 5px 20px;
}

.wrapper fieldset {
  margin: 20px 0;
}

.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.strategy-content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.active, .collapsible:hover {
  background-color: #ccc;
}
